* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
  --gray-100: #97979c;
  --gray-200: #414052;

  --dark-100: #272732;
  --dark-200: #21212b;
  --dark-300: #181820;

}
